/* Reset CSS */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%;}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* Main CSS */
$priority1: #dff0d8;
$priority2: #d9edf7;
$priority3: #fcf8e3;
$priority4: #f2dede;

$break-small: 380px;
$break-large: 1024px;

$dot-radius: 7px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  @include respond-to(handhelds) { font-size: 18px; }
  @include respond-to(medium-screens) { font-size: 16px; }
  @include respond-to(wide-screens) { font-size: 14px; }
  font-size: 14px;
}

body {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

h1#h1 {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

h2 {
  font-size: 1.2em;
}

nav, label, #comments {
  float: left;
  width: 100%;
}

footer {
  @extend nav;
  height: 2em;
  overflow: hidden;
  background-color: #e6e6e6;
  line-height: 2em;
  border: 1px solid gray;
  font-size: 0.8em;
  margin-top: 10px;
  > p {
    margin-left: 10px;
  }
}

.line {
  margin: 2px 2% !important;
  width: 96%;
  padding: 5px !important;
  @include respond-to(medium-screens) { min-height: 3em; }
}

textarea {
  @extend .line;
  height: 7em;
}

.error_message {
  @extend .line;
  min-height: 36px;
  color: red;
  border: 1px solid red;
  background: $priority4 url("error.png") no-repeat 5px 50%;
  background-size: auto 80%;
  p {
    @include respond-to(handhelds) { margin: 5px 0 0 2em; }
    @include respond-to(medium-screens) { margin: 5px 0 0 2em; }
    @include respond-to(wide-screens) { margin: 5px 0 0 2.5em; }
  }
}

input {
  &[type="text"], &[type="password"], &[type="email"], &[type="url"] {
    @extend .line;
    border: 1px solid grey;
  }
  &[type="password"], &#username {
    background-color : #F7F778;
  }
  &[type="submit"] {
    @extend .line;
    margin-top: 10px !important;
    cursor: pointer;
    @include respond-to(medium-screens) { min-height: 3em; }
  }
}
.user-profile select {
  @extend .line;
  border: 1px solid grey;
}

li {
  list-style-type: none;
}

a {
  color: black;
  cursor: pointer;
}

#container {
  padding-top: 2em;
}

#content {
  @extend nav;
  float: left;
  margin-top: 10px;
  > ul > li {
    @extend .line;
  }
}

#menu {
  position: fixed;
  z-index: 7;
  top: 0;
  height: 2em;
  overflow: hidden;
  background-color: #e6e6e6;
  line-height: 2em;
  border: 1px solid gray;
  li {
    &:last-child {
      float: right;
      padding-right: 5px;
      text-align: right;
      * {
        text-align: right;
      }
      div {
        display: inline;
      }
    }
    > div:last-child {
      margin: 0 5px;
    }
  }
}

#logout {
  @include respond-to(handhelds) { display: none !important; }
}

.menu-item {
  width: 33%;
  float: left;
  line-height: 2em;
  display: inline-block;
  > * {
    display: block;
    width: 100%;
    text-align: center;
  }
  &:first-child {
    text-align: left !important;
    background-image: url("favicon.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;
    * {
      text-align: left;
    }
    > * {
      padding-left: 2em;
    }
  }
}

#submenu {
  li {
    line-height: 2em;
  }
  display: none;
  background-color: #ccc;
  > ul > a + a > li {
    border-top: none;
  }
}

.project, .task, .comment, .worklog, .submenu-item {
  color: black;
  padding: 5px;
  border: 1px solid gray;
}

.projectlist > ul > a+a > li, .tasklist > ul > a + a > li, .comment + .comment, .worklog + .worklog {
  border-top: none;
}

.comment:nth-child(even), .worklog:nth-child(even) {
  background-color: #eee;
}

.main > ul > a {
  text-decoration: none !important;
}

.priority1 {
  background-color: $priority1;
}

.priority2 {
  background-color: $priority2;
}

.priority3 {
  background-color: $priority3;
}

.priority4 {
  background-color: $priority4;
}

#commentform {
  padding-top: 5px;
  label {
    display: none;
  }
}

.right {
  float: right;
}

.meta {
  color: grey;
  font-size: 0.8em;
  a {
    @extend .meta;
    font-size: 1em;
  }
}

.createtask form p {
  &:nth-last-child(-n+3) {
    display: inline-block;
    width: 47.9%;
    overflow: hidden;
    > * {
      width: 100%;
    }
  }
  &:nth-last-child(3) {
    margin-left: 2%;
  }
}

.edittask form p {
  &:nth-last-child(-n+4) {
    display: inline-block;
    width: 31.8%;
    overflow: hidden;
    > * {
      width: 100%;
    }
  }
  &:nth-last-child(4) {
    margin-left: 2%;
  }
}

.user-profile form {
  p:first-of-type {
    label, a {
      display: none;
    }
  }
}

.user-profile.noteditable form input {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.75;
}

#office {
  position: relative;
  width: 1625px;
  height: 1950px;
  background-image: url("id-contacts-map.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 100%;
  .user-on-map {
    position: absolute;
    border: 2px solid #ccc;
  }
}

#status-bar {
  width: 98%;
  margin: 10px 1% 30px 1%;
  #status-line {
    width: 100%;
    div {
      float: left;
      clear: none;
      width: 33.3%;
      height: 5px;
      background-color: #aaa;
      &.pass {
        background-color: #777;
      }
    }
  }
}
#status-dots {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 5px;
  > div {
    position: absolute;
    &:nth-child(0) {
      left: 0%;
      .dot {
        left: 0%;
      }
    }
    &:nth-child(1) {
      left: 33.3%;
      margin-left: -2em;
      @include respond-to(handhelds) { margin-left: -1.45em; }
      .dot {
        left: 50%;
      }
    }
    &:nth-child(2) {
      left: 66.6%;
      margin-left: -2em;
      @include respond-to(handhelds) { margin-left: -1.15em; }
      .dot {
        left: 50%;
      }
    }
    &:nth-child(3) {
      right: 0%;
      .dot {
        right: 0%;
      }
    }
    span {
      opacity: 0.5;
      font-size: 0.8em;
      @include respond-to(handhelds) { font-size: 0.6em; position: relative; top: -0.5em; }
    }
  }
  > .current-status > span {
    opacity: 1;
  }
}
.dot {
  @include respond-to(handhelds) { width: $dot-radius; height: $dot-radius; }
  @include respond-to(medium-screens) { width: 2*$dot-radius; height: 2*$dot-radius; }
  @include respond-to(wide-screens) { width: 2*$dot-radius; height: 2*$dot-radius; }
  width: 2*$dot-radius;
  height: 2*$dot-radius;
  padding: 2px;
  margin: -$dot-radius;
  background-color: #CF7171;
  border-radius: $dot-radius;
  border: 1px solid #888;
  position: absolute;
  top: -7px;
}
.current-status .dot {
  background-color: #009700;
}
table {
  box-shadow: 6px 6px 3px #888888;
  border:1px solid #000000;
}
tr {
  vertical-align:middle;
}
tr:nth-child(odd) {
  background-color:#e5e5e5;
}
td, th {
  text-align: center;
  padding: 5px;
  border:1px solid #000000;
}
th {
  @extend td;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
  background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
}

/* END CSS */
