{% load i18n %}

{% block content %}
    <div class="main tasklist">
        <!-- Tasks  -->
        <h2>{% trans "Task list" %}</h2>
        <ul>
            {% for task in tasks.object_list %}
                <a href="/task/{{ task.id }}">
                    <li class="task priority{{ task.priority }} status{{ task.status }}">
                        <div class="title">{{ task.title }}</div>
                        <div class="meta">
                            <span class="task-created_by">{{ task.created_by }}</span>
                            <span class="task-created_date">{{ task.created_date }}</span>
                            <span class="assigned_to">{% trans "assigned to" %} {{ task.assigned_to }}</span>
                        </div>
                        <div class="body">{{ task.note|slice:":40" }}</div>
                        <div id="status-bar">
                            <div id="status-line">
                                {% if task.status > 1 %}<div class="pass">{% else %}<div>{% endif %}</div>
                                {% if task.status > 2 %}<div class="pass">{% else %}<div>{% endif %}</div>
                                {% if task.status > 3 %}<div class="pass">{% else %}<div>{% endif %}</div>
                            </div>
                            <div id="status-dots">
                                {% if task.status == 2 %}<div class="current-status">{% else %}<div>{% endif %}
                                    <div class="dot"></div>
                                    <span>{% trans "Awaiting" %}</span>
                                </div>
                                {% if task.status == 3 %}<div class="current-status">{% else %}<div>{% endif %}
                                    <div class="dot"></div>
                                    <span>{% trans "Resolved" %}</span>
                                </div>
                                {% if task.status == 4 %}<div class="current-status">{% else %}<div>{% endif %}
                                    <div class="dot"></div>
                                    <span>{% trans "Closed" %}</span>
                                </div>
                                {% if task.status == 1 %}<div class="current-status">{% else %}<div>{% endif %}
                                    <div class="dot"></div>
                                    <span>{% trans "Reopened" %}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if tasks.object_list and tasks.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: 20px; ">
            <span class="step-links">
                {% if tasks.has_previous %}
                    <a href= "?page={{ tasks.previous_page_number }}">{% trans "newer entries" %} &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;{% trans "Page" %} {{ tasks.number }} {% trans "of" %} {{ tasks.paginator.num_pages }}
                </span>

                {% if tasks.has_next %}
                    <a href="?page={{ tasks.next_page_number }}"> &gt;&gt; {% trans "older entries" %}</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}