{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="main projectlist">
        <!-- projects  -->
        <h2>{% trans "Projects" %}</h2>
        <ul>
            {% for project in projects.object_list %}
                <a href="/project/{{ project.id }}">
                    {% if project.completed %}
                    <li class="project priority3">
                    {% else %}
                    <li class="project priority1">
                    {% endif %}
                        <div class="title">{{ project.name }}</div>
                        <div class="meta">
                            <div>
                                <span class="project-created_by">{{ project.created_by }}</span>
                                <span class="project-created_date">{{ project.created_date }}</span>
                            </div>
                            <div>
                                <span>{% trans "Menegers" %}:</span>
                                {% for user in project.menegers.all %}
                                    <span class="project-user">{{ user }}</span>
                                {% endfor %}
                            </div>
                            <div>
                                <span>{% trans "Users" %}:</span>
                                {% for user in project.users.all %}
                                    <span class="project-user">{{ user }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="body">{{ project.note|slice:":40" }}</div>
                    </li>
                </a>
            {% empty %}
                <p class="meta">{% trans "No projects" %}</p>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if projects.object_list and projects.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: 20px; ">
            <span class="step-links">
                {% if projects.has_previous %}
                    <a href= "?page={{ projects.previous_page_number }}">{% trans "newer entries" %} &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;{% trans "Page" %} {{ projects.number }} {% trans "of" %} {{ projects.paginator.num_pages }}
                </span>

                {% if projects.has_next %}
                    <a href="?page={{ projects.next_page_number }}"> &gt;&gt; {% trans "older entries" %}</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}