{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="task priority{{ task.priority }}">
        <!-- Tasks  -->
        <div class="title">{{ task.title }}</div>
        <ul>
            <div class="meta">
                <a href="/user/{{ task.created_by.id }}" class="task-created_by">{{ task.created_by }}</a>
                <span class="time">{{ task.created_date }}</span>
                <span class="assigned_to">{% trans "assigned to" %} {{ task.assigned_to }}</span>
                {% if user == task.created_by or user.is_superuser %}
                    <span class="edit"><a href="{{ task.id }}/edit">{% trans "edit" %}</a></span>
                    <span class="delete"><a href="{{ task.id }}/delete">{% trans "delete" %}</a></span>
                {% endif %}
            </div>
            <div class="body">{{ task.note|linebreaks }}</div>
            <div id="status-bar">
                <div id="status-line">
                    {% if task.status > 1 %}<div class="pass">{% else %}<div>{% endif %}</div>
                    {% if task.status > 2 %}<div class="pass">{% else %}<div>{% endif %}</div>
                    {% if task.status > 3 %}<div class="pass">{% else %}<div>{% endif %}</div>
                </div>
                <div id="status-dots">
                    {% if task.status == 2 %}<div class="current-status">{% else %}<div>{% endif %}
                        <div class="dot"></div>
                        <span>{% trans "Awaiting" %}</span>
                    </div>
                    {% if task.status == 3 %}<div class="current-status">{% else %}<div>{% endif %}
                        <div class="dot"></div>
                        <span>{% trans "Resolved" %}</span>
                    </div>
                    {% if task.status == 4 %}<div class="current-status">{% else %}<div>{% endif %}
                        <div class="dot"></div>
                        <span>{% trans "Closed" %}</span>
                    </div>
                    {% if task.status == 1 %}<div class="current-status">{% else %}<div>{% endif %}
                        <div class="dot"></div>
                        <span>{% trans "Reopened" %}</span>
                    </div>
                </div>
            </div>
        </ul>    
    </div>

    {% if form %}
    <div id="commentform">
        <!-- Create Task Form  -->
        <h3>{% trans "Add comment" %}</h3>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input name="comment_form" type="submit" value="{% trans "Add comment" %}">
        </form>
    </div>
    {% endif %}

    {% if comments %}
        <!-- Comments  -->
        <div class="comments">
            <h3>{% trans "Comments" %}</h3>
            <ul>
                {% for comment in comments %}
                    <li class="comment">
                        <div class="meta">
                            <a href="/user/{{ comment.author.id }}" class="comment-author">{{ comment.author }}</a>
                            <span class="time">{{ comment.created_date }}</span>
                        </div>
                        <div class="body">{{ comment.body|linebreaks }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Next/Prev page links  -->
        {% if comments.object_list and comments.paginator.num_pages > 1 %}
            <div class="pagination" style="margin-top: 20px; margin-left: 20px; ">
                <span class="step-links">
                    {% if comments.has_previous %}
                        <a href= "?page={{ comments.previous_page_number }}">{% trans "newer entries" %} &lt;&lt; </a>
                    {% endif %}

                    <span class="current">
                        &nbsp;{% trans "Page" %} {{ comments.number }} {% trans "of" %} {{ comments.paginator.num_pages }}
                    </span>

                    {% if comments.has_next %}
                        <a href="?page={{ comments.next_page_number }}"> &gt;&gt; {% trans "older entries" %}</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}