{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="main workloglist">
        <!-- worklogs  -->
        
        {% if worklogs_my %}
            <h2>{% trans "My worklogs" %}</h2>
            <ul>
                {% for worklog in worklogs_my %}
                    <li class="worklog">
                        <div class="title">{{ worklog.title }}</div>
                        <div class="meta">
                            <a href="/user/{{ worklog.created_by.id }}" class="worklog-created_by">{{ worklog.created_by }}</a>
                            <span class="worklog-created_date">{{ worklog.created_date }}</span>
                            <span class="worklog-created_date">{% trans "Time spend" %} {{ worklog.time_spend }}</span>
                        </div>
                        <div class="body">{{ worklog.note|slice:":40" }}</div>
                    </li>
                {% empty %}
                    <p class="meta">{% trans "No worklogs" %}{{ worklogs_my }}</p>
                {% endfor %}
            </ul>
        {% endif %}

        {% if worklogs.object_list %}
            <h2>{% trans "All Worklogs" %}</h2>
            <ul>
                {% for worklog in worklogs.object_list %}
                    <li class="worklog">
                        <div class="title">{{ worklog.title }}</div>
                        <div class="meta">
                            <a href="/user/{{ worklog.created_by.id }}" class="worklog-created_by">{{ worklog.created_by }}</a>
                            <span class="worklog-created_date">{{ worklog.created_date }}</span>
                            <span class="worklog-created_date">{% trans "Time spend" %} {{ worklog.time_spend }}</span>
                        </div>
                        <div class="body">{{ worklog.note|slice:":40" }}</div>
                    </li>
                {% empty %}
                    <p class="meta">{% trans "No worklogs" %}</p>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Next/Prev page links  -->
        {% if worklogs.object_list and worklogs.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: 20px; ">
            <span class="step-links">
                {% if worklogs.has_previous %}
                    <a href= "?page={{ worklogs.previous_page_number }}">{% trans "newer entries" %} &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;{% trans "Page" %} {{ worklogs.number }} {% trans "of" %} {{ worklogs.paginator.num_pages }}
                </span>

                {% if worklogs.has_next %}
                    <a href="?page={{ worklogs.next_page_number }}"> &gt;&gt; {% trans "older entries" %}</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}